@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@100&family=Roboto:wght@100&display=swap');
@font-face {
	font-family: 'Conv_copperplate-gothic-bold';
	src: url('../fonts/copperplate-gothic-bold.eot');
	src: local('☺'), url('../fonts/copperplate-gothic-bold.woff') format('woff'), url('../fonts/copperplate-gothic-bold.ttf') format('truetype'), url('../fonts/copperplate-gothic-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'berlinsansfb_reg';
	src: url('../fonts/berlinsansfb_reg.eot');
	src: local('☺'), url('../fonts/berlinsansfb_reg.woff') format('woff'), url('../fonts/berlinsansfb_reg.ttf') format('truetype'), url('../fonts/berlinsansfb_reg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


:root{
	--border:.1rem solid rgba(255,255,255,.3);
	--black:black;
	--bg:#e3e3e3;
	--main-color:#116cf5;
	--light-gray:#302f2f;
	--gold:#ffe680;
	--box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}
*{
	font-family: Conv_copperplate-gothic-bold;
	margin:0;
	padding:0;
	box-sizing: border-box;

	outline: none;
	border:none;
	text-decoration: none;
	text-transform: capitalize;
	transition: .2s linear;

}
html{
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-padding-top:9rem;
	scroll-behavior: smooth;
}
html::-webkit-scrollbar{
	width: .8rem;
}
html::-webkit-scrollbar-track{
	background: transparent;
}
html::-webkit-scrollbar-thumb{
	background: var(--main-color);
	border-radius: 5rem;
}
body{
	background: var(--bg);
}
section{
	padding: 2rem 7%;
}

.heading{
	text-align: center;
	color:black;
	text-transform: uppercase;
	padding-bottom: 3.5rem;
	font-size: 4rem;

}
.heading span{
	color:var(--main-color);
	text-transform: uppercase;
}
.heading2{
	text-align: center;
	color:var(--main-color);
	text-transform: uppercase;
	padding-bottom: 3.5rem;
	font-size: 4rem;

}
.heading2 span{
	color:black;
	text-transform: uppercase;
}
.header{
	background: var(--main-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 7%;
	border-bottom: var(--border);
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.header .icons div {
	color: white;
	cursor: pointer;
	font-size: 3.5rem;
	margin-left: 2rem;
}
.header .icons .person a{
	color: white;
}
.header .icons .shop a{
	color: white;
}
.header .icons .shop a:hover{
	color: var(--gold);
}
.header .icons .person a:hover{
	color: var(--gold);
}
.header .logo img{
	height: 6rem;
}
.header .navbar a{
	margin:  0 1rem;
	font-size: 2.5rem;
	color: white;
	font-family:Conv_copperplate-gothic-bold; 
}
.header .navbar a:hover{
	color: #ffe680;
}
.icons{
	display: flex;
}
.header .icons div:hover{
	color:#ffe680;
}
.menutoogle{
	display: none;
}
.header .search-form{
	position: absolute;
	top: 115%;right: 7%;
	background: white;
	width: 50rem;
	height: 5rem;
	display: flex;
	align-items: center;
	transform: scaleY(0);
	transform-origin: top;
	border:1px solid var(--main-color);
}
.header .search-form.active{
	transform: scaleY(1);
}
.header .search-form input{
	height: 100%;
	width: 100%;
	font-size: 1.6rem;
	color: var(--black);
	padding: 1rem;
	text-transform: none;
}
.header .search-form label{
	cursor: pointer;
	font-size: 2.2rem;
	margin-right: 1.5rem;
	color: var(--black);
}
.header .search-form label:hover{
	color:#ffe680;
}


.quick-links{
	display: flex;
	align-items: center;
	gap:1.8rem;
	background: var(--light-gray);
	justify-content: space-between;


}
.quick-links img{
	height: 70px;
	width: 70px;
}
.quick-links .links a{
	font-family: Conv_copperplate-gothic-bold;
	margin: 0 1rem;
	font-size: 2rem;
	color: var(--main-color);
}

.quick-links .links a:hover{
	color: #ffe680;

}
.quick-links .share a{
	font-size: 2.5rem;
	color: var(--main-color);
	margin-left: 2rem;
}
.quick-links .share a:hover{
	color: #ffe680;
}
.credit{
	display: flex;
	align-items: center;
	gap:2rem;

	background: white;
	justify-content: space-between;
}

.credit p{
font-size: 2rem;
font-family: Conv_copperplate-gothic-bold;
color: var(--light-gray);

}
.credit span{
	font-family: Conv_copperplate-gothic-bold;
	color: var(--main-color);
}
.credit img{
	height: 4rem;
	width: 300px;
	filter: drop-shadow(0 0 .04rem black);
}

.Home{
	background: white;
}
.Home .slide {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap:2rem;
	min-height: 40rem;
	padding:2rem 0;


}

.Home .slide .image{
	flex: 1 1 42rem;
	text-align: center;

}
.Home .slide .image img{
	height: 30rem;
}
.Home .slide .content{
	flex:1 1 42rem;
}
.Home .slide .content span{
	font-size: 2rem;
	color: var(--main-color);
	font-family: Conv_copperplate-gothic-bold;

}
.Home .slide .content h3{
	padding-top: .5rem;
	color: black;
	font-size: 3rem;
	font-family: Conv_copperplate-gothic-bold;
}
.btn{
	font-family: Conv_copperplate-gothic-bold;
	margin-top: 1rem;
	display: inline-block;
	border-radius: .5rem;
	padding: 1rem 3rem;
	font-size: 1.7rem;
	color: white;
	cursor: pointer;
	background: var(--main-color);


}
.btn:hover{
	background: black;
}
.banner .row{
	text-align: center;
	align-items: center;
	flex-wrap: wrap;
}
.banner .row .box-container{
	text-align: center;
	justify-content: center;

	position: relative;
	display: flex;
	flex-wrap: wrap;
	z-index: 1;
	margin: 0;
}
.banner .row .box-container .box{
    align-items: center;
	position: relative;
	display: flex;
	background: white;
	border: 1px solid black;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin: 30px;
	width: 331px;
	height: 200px;
}
.banner .row .box-container .box:hover img{
	transform: scale(1.1);
}
.banner .row .box-container .box img{
	height: 150px;
	width: 200px;
}
.banner .row .box-container .box .content{
	transform: translateY(-50%) rotate(45deg);
}
.banner .row .box-container .box .content span{
	font-size: 1rem;
	color: var(--main-color);
	font-family: Conv_copperplate-gothic-bold;

}
.banner .row .box-container .box .content h3{
	font-family: Conv_copperplate-gothic-bold;
	font-size: 1.5rem;
	color: black;
}
.About .row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.About .row .image{
	flex:1 1 42rem;
}
.About .row .image img{
	width: 100%;
}
.About .row .content{
	flex:1 1 42rem;
	padding: 3rem;
	background: white;
}
.About .row .content h1{
	font-size: 5rem;
	text-transform: uppercase;
	color: black;
}
.About .row .content p{
	font-family:berlinsansfb_reg ;
	font-size: 2rem;
	color: var(--light-gray);
	padding: 1rem 0;

}


.Category .row{
	text-align: center;
	align-items: center;
	flex-wrap: wrap;
}
.Category .row .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(31rem,1fr));
	gap:2rem;
	text-align: center;
	justify-content: center;

	position: relative;
	
	flex-wrap: wrap;
	z-index: 1;
	margin: 0;

}
.Category .row .box-container .box{
	text-align: center;
	border-radius: .5rem;
	border:1px solid black;
	padding: 2rem;
	background: white;
	box-shadow: var(--box-shadow);

}
.Category .row .box-container .box:hover{
	background: var(--light-gray);

}
.Category .row .box-container .box img{
	height: 8rem;
	margin-bottom: .5rem;

}
.Category .row .box-container .box h3{
	font-size: 1.7rem;
	color:var(--main-color) ;
}
.Category .row .box-container .box h3:hover{
	color:white;
}
.Stuff .row{
	text-align: center;
	align-items: center;
	flex-wrap: wrap;
}
.Stuff .row .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(31rem,1fr));
	gap:2rem;
	text-align: center;
	justify-content: center;

	position: relative;
	
	flex-wrap: wrap;
	z-index: 1;
	margin: 0;
}
.Stuff .row .box-container .box{
	border:1px solid black;
	padding: 2rem;
	box-shadow:var(--box-shadow);
	display: flex;
	align-items: center;
	gap:2rem;
	background: white;
	justify-content: center;

}
.Stuff .row .box-container .box .image img{
	height: 15rem;

}
.Stuff .row .box-container .box:hover .image img{
	transform: scale(1.1);
}
.Stuff .row .box-container .box .content h1{
	font-size: 2rem;
	color: black;
	padding-bottom: 1rem;

}
.Stuff .row .box-container .box .content .price{
	padding: .7rem 0;
	font-size: 2rem;
	color: var(--main-color);
	padding-bottom: 2rem;
}

.Stuff .row .box-container .box .content .price span{
	font-size: 1.5rem;
	color: var(--light-gray);
	text-decoration: line-through;
}
.Stuff .row .box-container .box .content .stars i{
	font-size: 1.5rem;
	color: var(--gold);


}
.FAQ .row{
	text-align: center;
	align-items: center;
	flex-wrap: wrap;
}
.FAQ .row .accordion-container{
	max-width: 70rem;
	margin: 0 auto;

}
.FAQ .row .accordion-container .accordion{
	background: white;
	margin-bottom: 3rem;
	box-shadow: var(--box-shadow);
}
.FAQ .row .accordion-container .accordion.active .accordion-heading {
	background: var(--main-color);

}
.FAQ .row .accordion-container .accordion.active .accordion-heading i{
	transform: rotate(180deg);
}
.FAQ .row .accordion-container .accordion.active .accordion-content{
	display: block;
}
.FAQ .row .accordion-container .accordion:last-child{
	margin-bottom: .5rem;
}
.FAQ .row .accordion-container .accordion .accordion-heading{
	padding: 1.5rem;
	display: flex;
	align-items: center;
	gap:1rem;
	justify-content: space-between;
	background: var(--light-gray);
	cursor: pointer;

}
.FAQ .row .accordion-container .accordion .accordion-heading h1{
	font-size: 2rem;
	color: white;
}
.FAQ .row .accordion-container .accordion .accordion-heading i{
	font-size: 2rem;
	color: white;
}
.FAQ .row .accordion-container .accordion .accordion-content{
	padding: 1.5rem;
	font-size: 1.5rem;
	line-height: 2;
	color: var(--light-gray);
	display: none;
	animation: fadeIn .2s linear;
}
.Contact .row{
	text-align: center;
	align-items: center;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;

}
.Contact .row .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(31rem,1fr));
	gap:2rem;
	text-align: center;
	justify-content: center;

	position: relative;
	
	flex-wrap: wrap;
	z-index: 1;
	margin: 0;

}
.Contact .row .box-container .box{
	background: white;
	border: 1px solid black;
	text-align: center;
	padding: 2rem;
	box-shadow: var(--box-shadow);

}
.Contact .row .box-container .box i{
	height: 7.5rem;
    width: 7.5rem;
    line-height: 7.5rem;
    margin-bottom: .5rem;
    font-size: 2.5rem;
    border-radius: 50%;
    background: var(--main-color);
    color: white;

}
.Contact .row .box-container .box h1{
	font-size: 2rem;
	padding: .5rem 0;
	color: black;
}
.Contact .row .box-container .box p{
	font-size: 1.5rem;
	line-height: 2;
	color: var(--light-gray);
}
.Contact .row .map{
	width: 900px;
	height: 500px;
	display: flex;
	border:2px solid var(--main-color);
	border-radius: 15px;
	margin:15px 15px;

}
.newsletter{
	background: var(--main-color);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap:2rem;
}
.newsletter .content{
	font-family: berlinsansfb_reg;
	flex:1 1 42rem;
}
.newsletter form{
	font-family: berlinsansfb_reg;
	flex:1 1 42rem;
	background: white;
	display: flex;
	padding: .5rem;
	border-radius: .5rem;
}
.newsletter form .email{
	width: 100%;
	padding: 0 1.4rem;
	color: var(--light-gray);
	text-transform: none;
	font-size: 1.6rem;
}
.newsletter form .btn{
	margin-top: 0;
}
.newsletter .content h1{
	font-family: berlinsansfb_reg;
	font-size: 6rem;
	color: white;
	text-transform: uppercase;
}
.newsletter .content p{
	font-family: berlinsansfb_reg;
	font-size: 2.5rem;
	color: white;
}




.Login form{
	max-width: 40rem;
	border-radius: .5rem;
	padding: 2rem;
	background: white;
	box-shadow: var(--box-shadow);
	border:1px solid var(--light-gray);
	margin: 1rem auto;

}

.Login form  h3{
	font-size: 2.5rem;
	padding-bottom: 1rem;
	color: black;
	text-transform: uppercase;
}

.Login form .box{
	width: 100%;
	padding: 1.2rem 1.4rem;
	border-radius: .5rem;
	border:1px solid var(--light-gray);
	font-size: 1.6rem;
	color:var(--light-gray);
	text-transform: none;
	margin: .7rem 0;
}

.Login form .remember{
	font-family: berlinsansfb_reg;
	display: flex;
	align-items: center;
	gap:.5rem;
	padding: 1rem 0;
}

.Login form .remember label{
	font-family: berlinsansfb_reg;
	font-size: 1.5rem;
	color: var(--light-gray);
	cursor: pointer;
}

.Login form .btn{
	width: 100%;
	text-align: center;
}

.Login form .btn.link{
	background: var(--light-gray);
}

.Login form .btn.link:hover{
	background: var(--main-color);
}

.Login form p{
	font-family: berlinsansfb_reg;
	padding-top: 2rem;
	font-size: 1.5rem;
	color: var(--light-gray);
	text-align: center;
	padding-bottom: 1rem; 
}




.Cart .row{
	text-align: center;
	align-items: center;
	flex-wrap: wrap;
}
.Cart .row .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(31rem,1fr));
	gap:2rem;
	text-align: center;
	justify-content: center;

	position: relative;
	
	flex-wrap: wrap;
	z-index: 1;
	margin: 0;

}
.Cart .row .box-container .box{
	padding: 2rem;
	border:1px solid black;
	border-radius: .5rem;
	box-shadow: var(--box-shadow);
	display: flex;
	align-items: center;
	gap:.5rem;
	position: relative;
	background: white;
	justify-content: center;
}
.Cart .row .box-container .box .fa-times{
	position: absolute;
	top: 1rem;right: 1.5rem;
	font-size: 3rem;
	color: var(--light-gray);
	cursor: pointer;
}
.Cart .row .box-container .box .fa-times:hover{
	color: red;
}
.Cart .row .box-container .box img{
	height: 12rem;
}
.Cart .row .box-container .box .content h3{
	font-size: 1.7rem;
	color: black;

}
.Cart .row .box-container .box .content form{
	padding: 1rem 0;
	display: flex;
	gap:.5rem;
	align-items: center;
}
.Cart .row .box-container .box .content form span{
	font-size: 1.5rem;
	color: var(--light-gray);

}
.Cart .row .box-container .box .content form input{
	width: 7rem;
	padding: .5rem 1.5rem;
	border-radius: .5rem;
	background: #e3e3e3;
	font-size: 1.5rem;
}
.Cart .row .box-container .box .content .price{
	font-size: 2rem;
	color: var(--main-color);

}
.Cart .row .box-container .box .content .price span{
	font-size: 1.5rem;
	color: var(--light-gray);
	text-decoration: line-through;
}
.Cart .row .cart-total{
	margin-top: 2rem;
	background: white;
	padding-top: 1rem;
	border-radius: .5rem;
	box-shadow: var(--box-shadow);
	border:1px solid black;
	padding: 2rem;
	justify-content: left;


}
.Cart .row .cart-total h3{
	padding-top: 1rem;
	font-size: 2rem;
	color: black;

}
.Cart .row .cart-total span{
	color: var(--main-color);
}
















.Register form{
	max-width: 40rem;
	border-radius: .5rem;
	padding: 2rem;
	background: white;
	box-shadow: var(--box-shadow);
	border:1px solid var(--light-gray);
	margin: 1rem auto;

}

.Register form  h3{
	font-size: 2.5rem;
	padding-bottom: 1rem;
	color: black;
	text-transform: uppercase;
}

.Register form .box{
	width: 100%;
	padding: 1.2rem 1.4rem;
	border-radius: .5rem;
	border:1px solid var(--light-gray);
	font-size: 1.6rem;
	color:var(--light-gray);
	text-transform: none;
	margin: .7rem 0;
}

.Register form .remember{
	font-family: berlinsansfb_reg;
	display: flex;
	align-items: center;
	gap:.5rem;
	padding: 1rem 0;
}

.Register form .remember label{
	font-family: berlinsansfb_reg;
	font-size: 1.5rem;
	color: var(--light-gray);
	cursor: pointer;
}

.Register form .btn{
	width: 100%;
	text-align: center;
}

.Register form .btn.link{
	background: var(--light-gray);
}

.Register form .btn.link:hover{
	background: var(--main-color);
}

.Register form p{
	font-family: berlinsansfb_reg;
	padding-top: 2rem;
	font-size: 1.5rem;
	color: var(--light-gray);
	text-align: center;
	padding-bottom: 1rem; 
}















@media (max-width: 1560px){
	.Contact .row .box-container{
		display: flex;
	}
	
}


@media (max-width: 991px){

	html{
	font-size: 55%;
    }

    .header{
    	padding: 1.5rem 2rem;

    }
    section{
    	padding: 2rem;
    }
}
@media (max-width: 769px){
	.menutoogle{
	    display: inline-block;
    }
    .header .navbar{
    	position: absolute;
    	top:100%;
    	right: -100%;
    	background: white;
    	width:30rem;
    	height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
    	right:0;
    }

    .header .navbar a{
    	color: var(--black);
    	display: block;
    	margin:1.5rem;
    	padding:.5rem;
    	font-size: 2rem;

    }

     .header .search-form{
     	width: 90%;
	    right: 2rem;
	     }



 .Home .slide{
 	text-align: center;
 }
}
@media(max-width: 738px){
	.quick-links{
		flex-flow: column;
	}
	.quick-links .links{
		padding: 1rem 0;
	}
	.quick-links .links a{
		display: block;
		font-size: 3rem;
		text-align: center;
		padding: 3px 0;
	}
	.credit{
		flex-flow: column;
	}
	
}
@media(max-width: 450px){
	 .Home .slide .image img{
	 	height: auto;
	 	width: 100%;
 	
 }
 .banner .row .box-container .box{
 	margin: 10px;
 }
}
